{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulking</title>
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>

<body>
    <div class="container">
        <nav>
            <div class="otherlogo">
                <img src="{% static 'media/heart_blue.svg' %}" alt="">
                <p>Bulking</p>
            </div>
            <div id="othermenudiv">
                <ul id="othermenu">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'home' %}">Programs</a></li>
                    <li><a href="{% url 'home' %}">Trainers</a></li>
                    <li><a href="{% url 'membership' %}">Membership</a></li>
                    <li><a href="{% url 'home' %}">Contact</a></li>
                </ul>
            </div>
            <div class="otheraccount">
                <i><img src="{% static 'media/Buyblack.svg' %}" alt=""></i>
                <button class="loginButton" id="login" type="submit">Login</button>
                <button class="signupButton" id="signup" type="submit">Signup</button>
            </div>

            <div id="drop" class="drop">
                <i id='barsblack' class="fa-solid fa-bars"></i>
            </div>
        </nav>

        {% include "overlays.html" %}
        
        <div class="drop">
            <div id="dropmenu" class="dropdownMainBlack">
                <div class="dropprogramsBlack">
                    <a href="{% url 'home' %}">Home</a>
                </div>
                <div class="dropprogramsBlack">
                    <a href="{% url 'home' %}">Programs</a>
                </div>
                <div class="dropprogramsBlack">
                    <a href="{% url 'home' %}">Trainers</a>
                </div>
                <div class="dropprogramsBlack">
                    <a href="{% url 'membership' %}">Membership</a>
                </div>
                <div class="dropprogramsBlack">
                    <a href="{% url 'home' %}">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="heading">
            <p>Resource Center</p>
            <h2>Featured News</h2>
        </div>
        <div class="featurednews">
            <div class="newsleft">
                <div class="newsimage"><img src="{% static 'media/newsimage1.png' %}" alt=""></div>
                <div class="newscontents">
                    <div class="time">
                        <span id="titlespan">Featured</span>
                        <span id="titletime">Nov 22, 2022</span>
                    </div>
                    <div class="newsheader">
                        <p>The interesting mental health benefits of exercise</p>
                    </div>
                    <div class="newscontent">
                        <p>Suspendisse feugiat scelerisque et, viverra urna imperdiet non malesuada...</p>
                    </div>
                    <div class="option">
                        <span id="more">Read More</span>
                        <a href=""><img src="{% static 'media/arrow-right.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="newsright">
                <div class="article">
                    <div class="articleimage">
                        <img src="{% static 'media/articleimage1.png' %}" alt="">
                    </div>
                    <div class="articlecontent">
                        <p id="articletime">Nov 22, 2022</p>
                        <p id="article">The interesting mental health benefits of exercise</p>
                    </div>
                </div>
                <div class="article">
                    <div class="articleimage">
                        <img src="{% static 'media/articleimage2.png' %}" alt="">
                    </div>
                    <div class="articlecontent">
                        <p id="articletime">Nov 22, 2022</p>
                        <p id="article">The interesting mental health benefits of exercise</p>
                    </div>
                </div>
                <div class="article">
                    <div class="articleimage">
                        <img src="{% static 'media/articleimage3.png' %}" alt="">
                    </div>
                    <div class="articlecontent">
                        <p id="articletime">Nov 22, 2022</p>
                        <p id="article">The interesting mental health benefits of exercise</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="topiccards">
            <h3>Topic Match For You</h3>
            <ul id="articleoptions">
                <a href="#">All</a>
                <a href="#">Fitness</a>
                <a href="#">Health</a>
                <a href="#">Recipes</a>
            </ul>
        </div>
        <div class="topcard">
            <div class="card">
                <div class="cardimage">
                    <img src="{% static 'media/cardimage1.png' %}" alt="">
                </div>
                <div class="cardbody">
                    <div class="carddate">
                        <span id="cardtitle">Fitness</span>
                        <span id="cardtime">Nov 22, 2022</span>
                    </div>
                    <h2>The 5 effective fitness morning routines you should follow</h2>
                    <p>Suspendisse feugiat scelerisque et, viverra urna imperdiet non malesuada...</p>
                    <div class="cardfooter option">
                        <span id="more">Read More</span>
                        <a href=""><img src="{% static 'media/arrow-right.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="cardimage">
                    <img src="{% static 'media/cardimage2.png' %}" alt="">
                </div>
                <div class="cardbody">
                    <div class="carddate">
                        <span id="cardtitle">Fitness</span>
                        <span id="cardtime">Nov 22, 2022</span>
                    </div>
                    <h2>The 5 effective fitness morning routines you should follow</h2>
                    <p>Suspendisse feugiat scelerisque et, viverra urna imperdiet non malesuada...</p>
                    <div class=" option">
                        <span id="more">Read More</span>
                        <a href=""><img src="{% static 'media/arrow-right.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="cardimage">
                    <img src="{% static 'media/cardimage3.png' %}" alt="">
                </div>
                <div class="cardbody">
                    <div class="carddate">
                        <span id="cardtitle">Fitness</span>
                        <span id="cardtime">Nov 22, 2022</span>
                    </div>
                    <h2>The 5 effective fitness morning routines you should follow</h2>
                    <p>Suspendisse feugiat scelerisque et, viverra urna imperdiet non malesuada...</p>
                    <div class="cardfooter option">
                        <span id="more">Read More</span>
                        <a href=""><img src="{% static 'media/arrow-right.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="cardimage">
                    <img src="{% static 'media/cardimage4.png' %}" alt="">
                </div>
                <div class="cardbody">
                    <div class="carddate">
                        <span id="cardtitle">Fitness</span>
                        <span id="cardtime">Nov 22, 2022</span>
                    </div>
                    <h2>The 5 effective fitness morning routines you should follow</h2>
                    <p>Suspendisse feugiat scelerisque et, viverra urna imperdiet non malesuada...</p>
                    <div class="cardfooter option">
                        <span id="more">Read More</span>
                        <a href=""><img src="{% static 'media/arrow-right.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="cardimage">
                    <img src="{% static 'media/cardimage5.png' %}" alt="">
                </div>
                <div class="cardbody">
                    <div class="carddate">
                        <span id="cardtitle">Fitness</span>
                        <span id="cardtime">Nov 22, 2022</span>
                    </div>
                    <h2>The 5 effective fitness morning routines you should follow</h2>
                    <p>Suspendisse feugiat scelerisque et, viverra urna imperdiet non malesuada...</p>
                    <div class="cardfooter option">
                        <span id="more">Read More</span>
                        <a href=""><img src="{% static 'media/arrow-right.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="cardimage">
                    <img src="{% static 'media/cardimage6.png' %}" alt="">
                </div>
                <div class="cardbody">
                    <div class="carddate">
                        <span id="cardtitle">Fitness</span>
                        <span id="cardtime">Nov 22, 2022</span>
                    </div>
                    <h2>The 5 effective fitness morning routines you should follow</h2>
                    <p>Suspendisse feugiat scelerisque et, viverra urna imperdiet non malesuada...</p>
                    <div class="cardfooter option">
                        <span id="more">Read More</span>
                        <a href=""><img src="{% static 'media/arrow-right.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="getstarted">
        <div class="container">
            <div class="start">
                <div class="desc">
                    <h3>Discover Your Potential</h3>
                    <p>Workout was started by James and Mount in 2012. It’s our mission to help people in Denver get
                        fit,
                        stay healthy, and live life on their terms without fitness being an obstacle.</p>
                </div>
                <div class="submit">
                    <button type="submit">Get Started</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mainfooter">
        <div class="container">
            <div class="maincontent">
                <div class="symbol">
                    <div class="info">
                        <img src="{% static 'media/heart_white.svg' %}" alt="">
                        <p>Bulking</p>
                    </div>
                    <div class="infocontent">
                        <p>Get fit, stay healthy, and live life on their terms without fitness being an obstacle.
                        </p>
                    </div>
                </div>
                <div class="menus">
                    <ul id="row1">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'home' %}">Programs</a></li>
                        <li><a href="{% url 'membership' %}">Membership</a></li>
                    </ul>
                    <ul id="row2">
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'home' %}">Contact</a></li>
                        <li><a href="{% url 'about' %}">About us</a></li>
                    </ul>
                </div>
                <div class="mail">
                    <p>Newsletter</p>
                    <div class="form">
                        <form action="">
                            <input type="textarea" placeholder="Your email here">
                            <button>Send</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr>
            <div class="social">
                <p>© 2024 Nguli® Global Inc.</p>
                <ul>
                    <li><a target=”_blank” href="https://www.facebook.com/madbulking/"><img
                                src="{% static 'media/svg.svg' %}" alt=""></a></li>
                    <li><a target=”_blank” href="https://www.linkedin.com/company/bulking"><img
                                src="{% static 'media/svg (1).svg' %}" alt=""></a></li>
                    <li><a target=”_blank” href="https://x.com/bulkingbroo"><img src="{% static 'media/svg (3).svg' %}"
                                alt=""></a></li>
                    <li><a target=”_blank” href="https://www.youtube.com/@Bulkingchanel"><img
                                src="{% static 'media/svg (2).svg' %}" alt=""></a></li>
                    <li><a target=”_blank” href="https://www.instagram.com/bulkingoficial/"><img
                                src="{% static 'media/svg (4).svg' %}" alt=""></a></li>
                </ul>
                <div class="policy">
                    <p>Terms of Service</p>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>