{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulking</title>
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
</head>

<body>
    <section class="member">
        <div class="container">
            <nav >
                <div class="otherlogo">
                    <img src="{% static 'media/heart_blue.svg' %}" alt="">
                    <p>Bulking</p>
                </div>
                <div id="othermenudiv">
                    <ul id="othermenu">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'home' %}">Programs</a></li>
                        <li><a href="{% url 'home' %}">Trainers</a></li>
                        <li><a href="{% url 'membership' %}">Membership</a></li>
                        <li><a href="{% url 'home' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="otheraccount">
                    <i><img src="{% static 'media/Buyblack.svg' %}" alt=""></i>
                    <button class="loginButton" id="login" type="submit" >Login</button>
                    <button class="signupButton" id="signup" type="submit" >Signup</button>
                </div>
                <div  id="drop" class="drop">
                    <i id='barsblack' class="fa-solid fa-bars"></i>
                </div>
            </nav>
  
            {% include "overlays.html" %}
            
            <div class="drop">
                <div id="dropmenu" class="dropdownMainBlack">
                    <div class="dropprogramsBlack">
                        <a href="{% url 'home' %}">Home</a>
                    </div>
                    <div class="dropprogramsBlack">
                        <a href="{% url 'home' %}">Programs</a>
                    </div>
                    <div class="dropprogramsBlack">
                        <a href="{% url 'home' %}">Trainers</a>
                    </div>
                    <div class="dropprogramsBlack">
                        <a href="{% url 'membership' %}">Membership</a>
                    </div>
                    <div class="dropprogramsBlack">
                        <a href="{% url 'home' %}">Contact</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="membershipdetail">
                <div class="detailcontent">
                    <div class="contentheader">
                        <h1>Basic Plan</h1>
                        <p>It’s a long estabilished fact that a reader will be distracted by the readable content</p>
                    </div>
                    <div class="features">
                        <ul>
                            <li>
                                <div class="icon">
                                    <i><img src="{% static 'media/fitness-biceps_black.svg' %}"></i>
                                </div>
                                <div class="chdescription">
                                    <p id="descriptionnumber">01</p>
                                    <p id="descriptioninfo">Power up</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i><img src="{% static 'media/timer.svg' %}"></i>
                                </div>
                                <div class="chdescription">
                                    <p id="descriptionnumber">02</p>
                                    <p id="descriptioninfo">Be Flexible</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i><img src="{% static 'media/dumbbell.svg' %}"></i>
                                </div>
                                <div class="chdescription">
                                    <p id="descriptionnumber">03</p>
                                    <p id="descriptioninfo">Super Body Toning</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="baseabout">
                        <h3>About the plan</h3>
                        <p>Diam ante tortor diam mauris. Feugiat fames in et neque. Sem mollis sagittis id bibendum
                            vitae magna risus. Feugiat adipiscing gravida bibendum adipiscing vel fermentum potenti.
                            Mus
                            ipsum consequat morbi aenean orci mauris integer eu. Purus accumsan non a ut aliquet
                            volutpat leo. At vitae porttitor blandit porta. Pretium sed tempor vestibulum sit urna.
                            Potenti purus sodales in enim nunc. In et auctor fusce sit donec condimentum. Diam
                            ultrices
                            enim nunc ornare id aliquet sed arcu commodo. Aliquam morbi fermentum amet dui
                            ullamcorper
                            praesent elit. Viverra nam massa cursus leo blandit eget eu. Tempor enim neque metus
                            nunc
                            sodales at eros. Malesuada placerat vestibulum amet sit tempor mi dignissim. Feugiat
                            nullam
                            urna gravida vulputate mi eleifend laoreet. Nunc facilisis egestas faucibus eget
                            suspendisse. In id pulvinar sem lectus lectus eu. Aliquam elementum semper faucibus
                            volutpat
                            facilisis mi.</p>

                        <div class="contentinfo">
                            <h3>Is this the right package for me?</h3>
                            <p>Consectetur adipiscing elit. Odio amet egestas dignissim eu nunc. Id pulvinar enim
                                volutpat
                                tellus. Cras tellus ac dui at sed.</p>
                            <p>Viverra urna imperdiet non malesuada. In massa id tellus natoque augue in et, et.
                                Suspendisse
                                feugiat scelerisque et, viverra urna imperdiet.Vitae interdum quis lacus ut viverra.
                                Enim eu turpis egestas pretium aenean pharetra magna ac placerat.
                                Nunc semper velit netus donec commodo.
                                Lacus hendrerit aliquam habitant eget faucibus venenatis turpis</p>
                        </div>
                    </div>
                </div>
                <div class="reserve">
                    <div class="reserveheader">
                        <h3 >Get your package</h3>
                        <p>Suspendisse feugiat scelerisque et, viverra urna imperdiet non malesuada.</p>
                    </div>
                    <div class="reserveincludes">
                        <h4>What’s Includes:</h4>
                        <ul>
                            <li>
                                <i><img src="{% static 'media/checkmark-circle-outline 1.svg' %}" alt=""></i>
                                <p>8 classes per month</p>
                            </li>
                            <li>
                                <i><img src="{% static 'media/checkmark-circle-outline 1.svg' %}" alt=""></i>
                                <p>All in basic package</p>
                            </li>
                            <li>
                                <i><img src="{% static 'media/checkmark-circle-outline 1.svg' %}" alt=""></i>
                                <p>1-on-1 personal trainning</p>
                            </li>
                        </ul>
                    </div>
                    <div class="reserveduration">
                        <p>Package Duration</p>
                        <select name="" id="">
                            <option value="">1 Month</option>
                            <option value="">8 Months</option>
                            <option value="">20 Months</option>
                        </select>
                    </div>
                    <div class="reserveprice">
                        <span>$149.00</span>
                        <span id="month">/Month</span>
                    </div>
                    <div class="reservebuttons">
                        <button id="purchasebutton">Purchase Now</button>
                        <button id="addtocart">Add to Chart</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="container">
                <div class="descript">
                    <p>Review</p>
                    <h3 id="pad" >What Our Happy Clients Say</h3>
                </div>
                <div class="content">
                    <div class="quota">
                        <img src="{% static 'media/quote-up.svg' %}" alt="">
                    </div>
                    <h6>Member Review</h6>
                    <p>Eget aliquet sit at lacinia. Magna consequat consectetur maecenas amet sagittis mi. Mattis cursus
                        dolor
                        amet quam commodo amet in sed dui. Risus risus sed sed lectus. </p>
                    <div class="reviewcard">
                        <div class="reviewcardimage">
                            <img src="{% static 'media/Ellipse 1.svg' %}" alt="">
                        </div>
                        <div class="reviewcardcontent">
                            <h4>Davis Rosser</h4>
                            <h6>Member</h6>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <ul id="arrows">
                        <li id="arrowleft"><i class="fa-solid fa-arrow-left passivearrow"></i></li>
                        <li>
                            <div class="rectangle"></div>
                        </li>
                        <li>
                            <div class="ellipse"></div>
                        </li>
                        <li>
                            <div class="ellipse"></div>
                        </li>
                        <li id="arrowright"><i class="fa-solid fa-arrow-right activearrow"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="getstarted">
            <div class="container">
                <div class="start">
                    <div class="desc">
                        <h3>Discover Your Potential</h3>
                        <p>Workout was started by James and Mount in 2012. It’s our mission to help people in Denver get
                            fit,
                            stay healthy, and live life on their terms without fitness being an obstacle.</p>
                    </div>
                    <div class="submit">
                        <button>Get Started</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainfooter">
            <div class="container">
                <div class="maincontent">
                    <div class="symbol">
                        <div class="info">
                            <img src="{% static 'media/heart_white.svg' %}" alt="">
                            <p>Bulking</p>
                        </div>
                        <div class="infocontent">
                            <p>Get fit, stay healthy, and live life on their terms without fitness being an obstacle.
                            </p>
                        </div>
                    </div>
                    <div class="menus">
                        <ul id="row1">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'home' %}">Programs</a></li>
                            <li><a href="{% url 'membership' %}">Membership</a></li>
                        </ul>
                        <ul id="row2">
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="{% url 'home' %}">Contact</a></li>
                            <li><a href="{% url 'about' %}">About us</a></li>
                        </ul>
                    </div>
                    <div class="mail">
                        <p>Newsletter</p>
                        <div class="form">
                            <form action="">
                                <input type="textarea" placeholder="Your email here">
                                <button>Send</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="social">
                    <p>© 2024 Nguli® Global Inc.</p>
                    <ul>
                        <li><a target=”_blank” href="https://www.facebook.com/madbulking/"><img src="{% static 'media/svg.svg' %}" alt=""></a></li>
                        <li><a target=”_blank” href="https://www.linkedin.com/company/bulking"><img src="{% static 'media/svg (1).svg' %}" alt=""></a></li>
                        <li><a target=”_blank” href="https://x.com/bulkingbroo"><img src="{% static 'media/svg (3).svg' %}" alt=""></a></li>
                        <li><a target=”_blank” href="https://www.youtube.com/@Bulkingchanel"><img src="{% static 'media/svg (2).svg' %}" alt=""></a></li>
                        <li><a target=”_blank” href="https://www.instagram.com/bulkingoficial/"><img src="{% static 'media/svg (4).svg' %}" alt=""></a></li>
                        </ul>
                    <div class="policy">
                        <p>Terms of Service</p>
                        <p>Privacy Policy</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <script src="{% static 'js/app.js' %}"></script>
</body>

</html>