{% extends "base.html" %}
{% load static %}

{% block navbar%}

<div class="abouthero">
    <div class="container">
        {% include "pieces/navbar_blue.html" %}
    </div>
</div>

{% endblock %}



{% block review %}

{% include "pieces/review.html" %}

{% endblock %}



{% block body %}

{% include "pieces/drop.html" %}

<section class="abouthero">
    <div class="container">
        <div class="aboutmain">
            <div class="aboutmainleft">
                <button type="submit">About us</button>
                <h2>Hi, I'm Adison, your personal trainner</h2>
            </div>
            <div class="aboutmainright">
                <h3>What's my story?</h3>
                <p>Consectetur adipiscing elit. Odio amet egestasolm dignissim eu nunc. Id pulvinar enim volutpat
                    tellus. Cras tellus ac dui at sed. Suspendisse feugiat scelerisque et, viverra urna imperdiet
                    non malesuada. Inol massa id tellus natoque augue in et.</p>
            </div>
        </div>
        <div class="aboutrelative">
            <div class="relimage">
                <img src="{% static 'media/relativ1.png' %}" alt="">
            </div>
            <div id="relativ1" class="aboutrelativediv">
                <div class="relleft">
                    <i><img src="{% static 'media/video-square.svg' %}" alt=""></i>
                </div>
                <div class="relright">
                    <span class="value">1400+</span>
                    <span class="text">Classes taught</span>
                </div>
            </div>
            <div id="relativ2" class="aboutrelativediv">
                <div class="relleft">
                    <i><img src="{% static 'media/video-square.svg' %}" alt=""></i>
                </div>
                <div class="relright">
                    <span class="value">120+</span>
                    <span class="text">Years of experience</span>
                </div>
            </div>
            <div class="circleabsolute"></div>
        </div>
    </div>
</section>
<div class="container">
    <div class="aboutpagecontent">
        <div class="pageheader">
            <h2>My Core Work Values</h2>
            <p>Consectetur adipiscing elit. Odio amet egestasolm dignissim eu nunc. Id pulvinar enim volutpat
                tellus. </p>
        </div>
        <div class="aboutpagebody">
            <div class="aboutpagebodyrow">
                <div class="aboutpagebodyrowleft">
                    <i><img src="{% static 'media/fitness-biceps_black.svg' %}" alt=""></i>
                    <h3>Commitment</h3>
                    <p>Cras tellus ac dui at sed. Suspendisse feugiat scelerisque et, viverra urna imperdiet non
                        malesuada. Inol massa id tellus natoque augue in et.</p>
                </div>
                <div class="aboutpagebodyright">
                    <img src="{% static 'media/aboutpageimg1.png' %}" alt="">
                </div>
            </div>
            <div class="aboutpagebodyrow">
                <div class="responsivetext">
                    <i><img src="{% static 'media/heart-checkmark.svg' %}" alt=""></i>
                    <h3>Motivation</h3>
                    <p>Cras tellus ac dui at sed. Suspendisse feugiat scelerisque et, viverra urna imperdiet non
                        malesuada. Inol massa id tellus natoque augue in et.</p>
                </div>
                <div class="aboutpagebodyright">
                    <img src="{% static 'media/aboutpageimg2.png' %}" alt="">
                </div>
                <div id="normal" class="aboutpagebodyrowleft">
                    <i><img src="{% static 'media/heart-checkmark.svg' %}" alt=""></i>
                    <h3>Motivation</h3>
                    <p>Cras tellus ac dui at sed. Suspendisse feugiat scelerisque et, viverra urna imperdiet non
                        malesuada. Inol massa id tellus natoque augue in et.</p>
                </div>
            </div>
            <div class="aboutpagebodyrow">
                <div class="aboutpagebodyrowleft">
                    <i><img src="{% static 'media/star-shining.svg' %}" alt=""></i>
                    <h3>Passion</h3>
                    <p>Cras tellus ac dui at sed. Suspendisse feugiat scelerisque et, viverra urna imperdiet non
                        malesuada. Inol massa id tellus natoque augue in et.</p>
                </div>
                <div class="aboutpagebodyright">
                    <img src="{% static 'media/aboutpageimg3.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}