a {
    text-decoration: none;
    color: #333;
}

.introduction {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
}

.accordion_header {
    display: flex;
    justify-content: space-between;
    color:  #1A202C;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    min-height: 50px;
    align-items: center;
    cursor: pointer;
}

.accordion_header h4 {
    margin: 0;
}

.introduction_col {
    width: 100%;
    overflow: hidden;
}

.introduction_col p {
    color:  #636366;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
}

.faq-section {
    margin: 0 auto;
    max-width: 800px;
    padding: 60px 20px;
}

.faq-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.faq-section>p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    color: #777;
}

.faq-list {
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    text-align: left;
    margin-bottom: 20px;
}

.faq-item h3 {
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item p {
    display: none;
    margin-top: 10px;
    color: #555;
}

.contact-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 0;
    text-align: center;
}

.contact-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #777;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
}

.contact-section form label {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    resize: none;
    border-radius: 24px;
    border: 1px solid #E9EBED;
    background: #ffffffb8;
}

.faq_btn {
    border-radius: 24px;
    background: #BCFF5E;
    width: 207px;
}

#faqform button {
    padding: 15px 30px;
    background-color: #32CD32;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}