.wire {
    align-items: baseline;
    display: flex;
    gap: 80px;
}

.tiresome {
    width: calc(65% - 80px * 0.65);
    padding-bottom: 120px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.messed {
    color: #09080D;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.16px;
}

.detain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.detain1 {
    color: #09080D;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.detain2 {
    display: flex;
    width: 100%;
    padding: 24px 24px 24px 16px;
    align-items: center;
    gap: 24px;
    border-radius: 32px;
    border: 1px solid #E9EBED;
    background:  #FFF;
}

.detain21 {
    display: flex;
    align-items: center;
    gap: 8px;
}

.detain21 h6 {
    color: #171725;
    font-family: Inter;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
}

.feebly {
    color: #8E8E93;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
}

#paymentform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.loose1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
}

.obvious h6 {
    color:#1C1C1E;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
}

.neat {
    display: flex;
    height: 52px;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid  #E9EBED;
    background:#FFF;
}

.neat input {
    display: flex;
    width: 100%;
    outline: none;
    align-items: flex-start;
    border-radius: 32px;
    background-color: #FFF;
    padding: 16px 32px;
    border: none;
}

.secret {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.facilities {
    display: flex;
    width: calc((100% - (25px * (3 - 1))) / 3);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
}

.coral h6 {
    color: #1C1C1E;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
}

.facilities input {
    width: 100%;
    display: flex;
    height: 52px;
    padding-left: 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid  #E9EBED;
    background: #FFF;
}

.thus {
    margin-top: 20px;
    display: flex;
    width: 450px;
    align-items: center;
    gap: 40px;
    justify-content: space-evenly;
    border: 1px solid rgb(188, 191, 224);
    border-radius: 15px;
}

.thus h6 {
    color:#09080D;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
}

.tiresome button {
    display: flex;
    padding: 16px 32px;
    border: none;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    background: #BCFF5E;
}

.tiresome button h6 {
    color: #1C1C1E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.aisle {
    display: flex;
    margin-top: 160px;
    width: calc(35% - 80px * 0.35);
    padding: 24px;
    flex-direction: column;
    gap: 32px;
    border-radius: 20px;
    background: #FFF;
}

.phase h4 {
    color: #09080D;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.2px;
}

.phase h4 span {
    color: #8E8E93;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.07px;
}

.major {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.major1 h6 {
    color: #1C1C1E;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.09px;
}

.major2 p {
    color: #636366;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.includes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.includes1 h6 {
    color: #1C1C1E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.includes2 {
    display: flex;
    align-items: center;
    gap: 12px;
}

.empty {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    border: 1px solid #E9EBED;
}

.includes2 h6 {
    color: #1C1C1E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.tad {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.tad1 h6 {
    color: #1C1C1E;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
}

.tad2 {
    display: flex;
    height: 52px;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #E9EBED;
    background:#FFF;
}

.tad2 input {
    outline: none;
    display: flex;
    height: 50px;
    width: 100%;
    padding-left: 16px;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid var(--Additional-Colors-Line, #E9EBED);
    border: none;
    background: var(--Additional-Colors-White, #FFF);
}

.tad2 i {
    width: 20px;
    height: 20px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: #fff;
}

input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #007bff;
}
