.progdetail {
    margin-top: 70px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;
    align-items: baseline;
}
.features{
    width: 100%;
}

.features ul li{
    display: flex;
    gap: 10px;
}
.programcontent {
    width: calc(60% - 30px * 0.6);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.chooseprogram {
    margin-bottom: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    border-radius: 20px;
    background: #FFF;
}


.chooseprogrameheader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.chooseprogrameheader h3 {
    color: #1C1C1E;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.09px;
}

.chooseprogrameheader p {
    color: #636366;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.persontitle {
    display: flex;
    gap: 10px;
}

.persontitle span {
    color: #1C1C1E;
    font-size: 72px;
    font-style: normal;
    line-height: 80px;
    letter-spacing: 0.36px;
}

#personal {
    font-weight: 500;
}

#training {
    font-weight: 400;
}

.contentheader p {
    color: #636366;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.icon i img {
    width: 48px;
    height: 48px;
}
.video {
    position: relative;
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(14, 15, 18, 0.40) 0%, rgba(14, 15, 18, 0.40) 100%) lightgray 0px -0.25px / 100% 118.936% no-repeat;

}

.video video {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

#playbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    height: 20%;
    position: absolute;
    top: 45%;
    left: 45%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
}

#pausebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    height: 20%;
    position: absolute;
    top: 45%;
    display: none;
    left: 45%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);

}

#playbutton i {
    font-size: 24px;
    color: white;
}

#pausebutton i {
    font-size: 24px;
    color: white;
}

.baseabout,
.contentinfo,
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

}

.baseabout,
.contentinfo,
.text h3 {
    color: #1C1C1E;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12px;
}

.baseabout,
.contentinfo,
.text p {
    color: #636366;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.09px;
}

.chooseprogram {
    width: calc(40% - 30px * 0.4);
}

.chooseprogramincludes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.chooseprogramincludes ul li {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.durationdivs span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.durationkey {
    color: #1C1C1E;
}

.durationvalue {
    color: #8E8E93;
}
#bookaclass{
    width: 100%;
}
.programbutton{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#bookaclas {
    padding: 16px 25%;
    border-radius: 24px;
    border:none;
    background: #BCFF5E;
}