{% load static %}
<nav>
    <div class="homelogo">
        <img src="{% static 'media/Group.svg' %}" alt="">
        <p>Bulking</p>
    </div>
    <div id="homemenudiv">
        <ul id="homemenu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'programs' %}">Programs</a></li>
            <li><a href="{% url 'trainers' %}">Trainers</a></li>
            <li><a href="{% url 'membership' %}">Membership</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>
    <div class="homeaccount">
        <div class="bask">
            <i><img src="{% static 'media/Buy.svg' %}" alt="">
            </i>
            <div class="red"></div>
        </div>
        <form id="form" method="post">
            {% csrf_token %}
            <button class="loginButton" id="login" type="submit" name="login">Login</button>
            <button class="signupButton" id="signup" type="submit" name="signup">Signup</button>
        </form>
        <div class="drop" display="none">
            <i id='bars' class="fa-solid fa-bars"></i>
        </div>
        {% if user.is_authenticated %}
        <div class="profiles">
            {% if user.profile.profile_picture %}
            <img id="profilepictureimage" src="{{ user.profile.profile_picture.url }}" alt="">
            {% else %}
            <img id="profilepictureimage" src="{% static '/media/empty.jpg'%}" alt="">
            {% endif %}
        </div>
        {% endif %}
        <div class="profilecontents">
            <span id="usernamfield">{{ user.username }}</span>
            <span id="programfield">Program : {{ user.profile.get_program_name }}</span>
            <span id="planfield"> Plan : {{ user.profile.get_plan_name }}</span>
            <div class="buttons">
                <div id="changephoto">Change photo</div>
                <form id="logoutForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="logout">
                    <button id="logoutbutton" class="logoutbutton" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>