{% load static %}
<nav>
    <div class="homelogo">
        <img src="{% static 'media/Group.svg' %}" alt="">
        <p>Bulking</p>
    </div>
    <div id="homemenudiv">
        <ul id="homemenu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'home' %}">Programs</a></li>
            <li><a href="{% url 'trainers' %}">Trainers</a></li>
            <li><a href="{% url 'membership' %}">Membership</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>
    <div class="homeaccount">
        <div class="bask">
            <i><img src="{% static 'media/Buy.svg' %}" alt="">
            </i>
            <div class="red"></div>
        </div>
        <form id="form" method="post">
            {% csrf_token %}
            <button class="loginButton" id="login" type="submit" name="login">Login</button>
            <button class="signupButton" id="signup" type="submit" name="signup">Signup</button>
        </form>
        {% if user.is_authenticated %}
        <form id="logoutForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="logout">
            <button id="logoutbutton" class="logoutbutton" type="submit">Logout</button>
        </form>
        {% endif %}
        <div class="drop" display="none">
            <i id='bars' class="fa-solid fa-bars"></i>
        </div>
        
    </div>
</nav>