{% load static %}
<div class="hero">
    <div class="review">
        <div class="container">
            <div class="descript">
                <button>Review</button>
                <h3>What Our Happy Clients Say</h3>
            </div>
            <span id='membercount' style="display: none;">{{membercount}}</span>
            <ul>
                {% for id in idlist %}
                <li>
                    <span id='membercountid' style="display: none;">{{id}}</span>
                </li>
                {% endfor%}
            </ul>
            <div class="content" id='happyclientsdiv'>
            </div>
        </div>

        <div class="actions">
            <ul id="arrows">
                <li id="arrowleft"><i class="fa-solid fa-arrow-left passivearrow"></i></li>
                <li>
                    <div class="rectangle"></div>
                </li>
                <li>
                    <div class="ellipse"></div>
                </li>
                <li>
                    <div class="ellipse"></div>
                </li>
                <li id="arrowright"><i class="fa-solid fa-arrow-right activearrow"></i></li>
            </ul>
        </div>
    </div>
</div>
</div>

