{% load static %}

<div class="dropp">
    <div id="dropmenu" class="dropdownMainBlack">
        <div class="dropprogramsBlack">
            <a href="{% url 'home' %}">Home</a>
        </div>
        <div class="dropprogramsBlack">
            <a href="{% url 'home' %}">Programs</a>
        </div>
        <div class="dropprogramsBlack">
            <a href="{% url 'home' %}">Trainers</a>
        </div>
        <div class="dropprogramsBlack">
            <a href="{% url 'membership' %}">Membership</a>
        </div>
        <div class="dropprogramsBlack">
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    </div>
</div>