{% load static %}
<div class="hero">
    <div class="dropp">
        <div id="dropmenu" class="dropdownMain">
            <div class="dropprograms">
                <a href="{% url 'home' %}">Home</a>
            </div>
            <div class="dropprograms">
                <a href="{% url 'home' %}">Programs</a>
            </div>
            <div class="dropprograms">
                <a href="{% url 'home' %}">Trainers</a>
            </div>
            <div class="dropprograms">
                <a href="{% url 'membership' %}">Membership</a>
            </div>
            <div class="dropprograms">
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
    </div>
</div>
