{% extends "base.html" %}
{% load static %}

{% block navbar%}

<div class="container">
    {% include "pieces/navbar_white.html" %}
</div>

{% endblock %}


{% block body %}

{% include "pieces/drop_black.html" %}
<div class="container">
    <div class="membershipdetail">
        <div class="detailcontent">
            <div class="contentheader">
                <h1>{{ plan.name }}</h1>
                <p>It’s a long estabilished fact that a reader will be distracted by the readable content</p>
            </div>
            <div class="features">
                <ul>
                    <li>
                        <div class="icon">
                            <i><img src="{% static 'media/fitness-biceps_black.svg' %}"></i>
                        </div>
                        <div class="chdescription">
                            <p id="descriptionnumber">01</p>
                            <p id="descriptioninfo">Power up</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i><img src="{% static 'media/timer.svg' %}"></i>
                        </div>
                        <div class="chdescription">
                            <p id="descriptionnumber">02</p>
                            <p id="descriptioninfo">Be Flexible</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i><img src="{% static 'media/dumbbell.svg' %}"></i>
                        </div>
                        <div class="chdescription">
                            <p id="descriptionnumber">03</p>
                            <p id="descriptioninfo">Super Body Toning</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="baseabout">
                <h3>About the plan</h3>
                <p>{{plan.about|safe}}</p>

                <div class="contentinfo">
                    <h3>Is this the right package for me?</h3>
                    <p>{{plan.istheright|safe}}</p>
                </div>
            </div>
        </div>
        <div class="reserve">
            <div class="reserveheader">
                <h3>Get your package</h3>
                <p>Suspendisse feugiat scelerisque et, viverra urna imperdiet non malesuada.</p>
            </div>
            <div class="reserveincludes">
                <h4>What’s Included:</h4>
                <ul>
                    <li>
                        <i><img src="{% static 'media/checkmark-circle-outline 1.svg' %}" alt=""></i>
                        <p>{{ plan.classes }} classes per month</p>
                    </li>
                    <li>
                        <i><img src="{% static 'media/checkmark-circle-outline 1.svg' %}" alt=""></i>
                        <p>{{ plan.packages }} </p>
                    </li>
                    <li>
                        <i><img src="{% static 'media/checkmark-circle-outline 1.svg' %}" alt=""></i>
                        <p>{{ plan.tutorials }}</p>
                    </li>
                </ul>
            </div>
            <div class="reserveduration">
                <p>Package Duration</p>
                <select id="months">
                    <option value="1">1 Month</option>
                    <option value="8">8 Months</option>
                    <option value="20">20 Months</option>
                </select>
            </div>
            <div class="reserveprice">
                <span id="price">$ {{ plan.price }}</span>
                <span id="planId">{{plan.id}}</span>
                <span id="month">/Month</span>
            </div>
            <div><span id="pric">Total price: </span><span id="total"></span></div>
            <div class="reservebuttons">
                <a href=""><button id="purchasebutton">Purchase Now</button></a>
                <button id="addtocart">Add to Cart</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}


{% block review %}

{% include "pieces/review.html" %}

{% endblock %}