{% extends "base.html" %}
{% load static %}



{% block navbar%}

<div class="container">
    {% include "pieces/navbar_white.html" %}
</div>

{% endblock %}


{% block body %}

{% include "pieces/drop_black.html" %}

<div class="container">
    <div class="heading">
        <p>Resource Center</p>
        <h2>Featured News</h2>
    </div>
    <div class="featurednews">
        <div class="newsleft">
            <div class="newsimage"><img src="{{ lastblog.media.url }}" alt=""></div>
            <div class="newscontents">
                <div class="time">
                    <span id="titlespan">{{ lastblog.category }}</span>
                    <span id="titletime">{{ lastblog.created_at|date:"M. d, Y"}}</span>
                </div>
                <div class="newsheader">
                    <p>{{lastblog.title}}</p>
                </div>
                <div class="newscontent">
                    <p>{{ lastblog.contents|safe|truncatewords:50}}</p>
                </div>
                <div class="option">
                    <span id="more">Read More</span>
                    <a
                        href="{% if blog.id %}{% url 'blogdetail' blog.id %}{% else %}{% url 'blogdetail' last_blog_id %}{% endif %}">
                        <img src="{% static 'media/arrow-right.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="newsright">
            {% for blog in blogs|slice:":3"%}
            <div class="article">
                <div class="articleimage">
                    <img src="{{blog.media.url }}" alt="">
                </div>
                <div class="articlecontent">
                    <p id="articletime">{{ blog.created_at|date:"M. d, Y" }}</p>
                    <p id="article">{{ blog.title }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="topiccards">
        <h3>Topic Match For You</h3>
        <ul id="articleoptions">
            <a href="#" data-category="all">All</a>
            <a href="#" data-category="fitness">Fitness</a>
            <a href="#" data-category="health">Health</a>
            <a href="#" data-category="recipes">Recipes</a>
        </div>
    </div>
    <div class="topcard">
        {% for blog in blogs %}
        <div class="card" data-category="{{ blog.category|lower }}">
            <div class="cardimage">
                <img src="{{ blog.media.url }}" alt="">
            </div>
            <div class="cardbody">
                <div class="carddate">
                    <h2>{{ blog.category }}</h2> {{ blog.created_at|date:"M. d, Y" }}
                </div>
                <p>{{ blog.title }}</p>
                <div class="cardfooter option">
                    <span id="more">Read More</span>
                    <a href="{% if blog.id %}{% url 'blogdetail' blog.id %}{% else %}{% url 'blogdetail' last_blog_id %}{% endif %}">
                        <img src="{% static 'media/arrow-right.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>


{% endblock %}



{% block getstarted %}

{% include "pieces/getstarted.html" %}

{% endblock %}