{% extends "base.html" %}
{% load static %}


{% block navbar%}

<div class="container">
    {% include "pieces/navbar_white.html" %}
</div>

{% endblock %}


{% block body %}

{% include "pieces/drop_black.html" %}

<section class="member">
    <div class="membershipzone">
        <div class="container">
            <div class="membership">
                <div class="membertitle">
                    <p>Membership</p>
                    <h2>Compare Our Plane and Find Your</h2>
                </div>
                <div class="plans" id="membershipplans">
                    {% for plan in plans %}
                    {% if forloop.counter == 2 %}
                    <div class="plan plan2">
                        <div class="types_planes">
                            <h2>$ {{plan.price}}</h2>
                            <h5>/Month</h5>
                            <h4>{{plan.name}}</h4>
                        </div>
                        <div class="plancontent">
                            <p>{{plan.content|safe}}</p>
                        </div>
                        <a href="{% url 'membership_detail' plan.id %}"><button id="purchase">Purchase Plan</button></a>
                    </div>
                    {% else %}
                    <div class="plan">
                        <div class="types_planes">
                            <h2>$0</h2>
                            <h5>/Month</h5>
                            <h4>Free plan</h4>
                        </div>
                        <div class="plancontent">
                            <p>{{plan.content|safe}}</p>
                        </div>
                        <a href="{% url 'membership_detail' plan.id %}"><button id="purchase">Purchase Plan</button></a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="overview">
            <p>Overview</p>
            <ul>
                <li>
                    <div class="overviewinfo">
                        <p>Classes per month</p>
                        <i><img src="{% static 'media/info-circle.svg' %}" alt=""></i>
                    </div>
                    <div class="overviewcontent">
                        <p>1</p>
                        <p>8</p>
                        <p>20</p>
                    </div>
                </li>
                <li>
                    <div class="overviewinfo">
                        <p>Access to online classes</p>
                        <i><img src="{% static 'media/info-circle.svg' %}" alt=""></i>
                    </div>
                    <div class="overviewcontent">
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="overviewinfo">
                        <p>Health & fitness guides</p>
                        <i><img src="{% static 'media/info-circle.svg' %}" alt=""></i>
                    </div>
                    <div class="overviewcontent">
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                </li>
                <li>
                    <div class="overviewinfo">
                        <p>Full Warmup guide</p>
                        <i><img src="{% static 'media/info-circle.svg' %}" alt=""></i>
                    </div>
                    <div class="overviewcontent">
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="overviewinfo">
                        <p>Access video Link</p>
                        <i><img src="{% static 'media/info-circle.svg' %}" alt=""></i>
                    </div>
                    <div class="overviewcontent">
                        <div class="ovcont"><i><img src="{% static 'media/close-circle.svg' %}" alt=""></i></div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="overviewinfo">
                        <p>Full diet plan</p>
                        <i><img src="{% static 'media/info-circle.svg' %}" alt=""></i>
                    </div>
                    <div class="overviewcontent">
                        <div class="ovcont"><i><img src="{% static 'media/close-circle.svg' %}" alt=""></i></div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="overviewinfo">
                        <p>Nutritional support</p>
                        <i><img src="{% static 'media/info-circle.svg' %}" alt=""></i>
                    </div>
                    <div class="overviewcontent">
                        <div class="ovcont"><i><img src="{% static 'media/close-circle.svg' %}" alt=""></i></div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="overviewinfo">
                        <p>Full customize plan</p>
                        <i><img src="{% static 'media/info-circle.svg' %}" alt=""></i>
                    </div>
                    <div class="overviewcontent">
                        <div class="ovcont"><i><img src="{% static 'media/close-circle.svg' %}" alt=""></i></div>
                        <div class="ovcont"><i><img src="{% static 'media/close-circle.svg' %}" alt=""></i></div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="overviewinfo">
                        <p>Daily progress check up</p>
                        <i><img src="{% static 'media/info-circle.svg' %}" alt=""></i>
                    </div>
                    <div class="overviewcontent">
                        <div class="ovcont"><i><img src="{% static 'media/close-circle.svg' %}" alt=""></i></div>
                        <div class="ovcont"><i><img src="{% static 'media/close-circle.svg' %}" alt=""></i></div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="overviewinfo">
                        <p>All Intermediate package</p>
                        <i><img src="{% static 'media/info-circle.svg' %}" alt=""></i>
                    </div>
                    <div class="overviewcontent">
                        <div class="ovcont"><i><img src="{% static 'media/close-circle.svg' %}" alt=""></i></div>
                        <div class="ovcont"><i><img src="{% static 'media/close-circle.svg' %}" alt=""></i></div>
                        <div class="ovcont"><i><img src="{% static 'media/checkmark-circle-outline.svg' %}" alt=""></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>


{% endblock %}


{% block review %}

{% include "pieces/review.html" %}

{% endblock %}