{% extends 'base.html' %}
{% load static %}

{% block navbar %}

<div class="container">
    {% include "pieces/navbar_white.html" %}
</div>

{% endblock %}

{% block body %}

{% include 'pieces/drop_black.html' %}
<div class="container">
    <div class="wire">
        <div class="tiresome">
            <div class="messed">
                <h6>Get your package</h6>
            </div>
            <div class="detain">
                <div class="detain1">
                    <p>Pay with</p>
                </div>
                <div class="detain2">
                    <input type="checkbox" id="paypal">
                    <div class="detain21">
                        <img src="{% static '/media/XMLID3.png' %}" alt="">
                        <h6>PayPal</h6>
                    </div>
                </div>
            </div>
            <div class="detain">
                <div class="detain2">
                    <input type="checkbox" id="applepay">
                    <div class="detain21">
                        <img src="{% static '/media/ApplePay.png' %}">
                    </div>
                </div>
            </div>
            <div class="feebly">
                <p>Or using a credit card</p>
            </div>
            <form method="post" id="paymentform">
                {% csrf_token %}
                <div class="loose1">
                    <div class="obvious">
                        <h6>Cardholder Name</h6>
                    </div>
                    <div class="neat"><input id="cardholder" type="text"></div>
                </div>
                <div class="loose1">
                    <div class="obvious">
                        <h6>Card Number</h6>
                    </div>
                    <div class="neat">
                        <input id="cardnumber" type="text" placeholder="Ex: 31111 1111 1111 1111">
                    </div>
                </div>
                <div class="secret">
                    <div class="facilities">
                        <div class="coral">
                            <h6>Postal Code</h6>
                        </div>
                        <input id="postalcode" type="text" placeholder="Postal or ZIP code">
                    </div>
                    <div class="facilities">
                        <div class="coral">
                            <h6>Expiration</h6>
                        </div>
                        <input id="expiryDate" type="month" name="expiryDate">
                    </div>
                    <div class="facilities">
                        <div class="coral">
                            <h6>CVV</h6>
                        </div>
                        <input id="cvv" type="number">
                    </div>
                </div>
                <div class="thus">
                    <input type="checkbox" id="save-card">
                    <h6>Save card</h6>
                </div>
            </form>
            
            <form method="post" id="confirmandpay">
                {% csrf_token %}
                <button id="confirmpay" type="submit" disabled>
                    <h6>Confirm and pay</h6>
                </button>
            </form>
            
        </div>
        <div class="aisle">
            <div class="reserveprice">
                <span id="price">$ {{ price }}</span>
                <span id="month">/Month</span>
            </div>
            <div class="major">
                <div class="major1">
                    <h6>{{name}}</h6>
                </div>
                <div class="major2">
                    <p>{{content}}</p>
                </div>
            </div>
            <div class="includes">
                <div class="includes1">
                    <h6>What’s Includes:</h6>
                </div>
                <div class="includes2">
                    <div class="empty"><img src="{% static '/media/checkmark-circle-outline 1.png' %}" alt=""></div>
                    <h6>{{classes}} Classes per month </h6>
                </div>
                <div class="includes2">
                    <div class="empty"><img src="{% static '/media/checkmark-circle-outline 1.png' %}" alt=""></div>
                    <h6>{{packages }}</h6>
                </div>
                <div class="includes2">
                    <div class="empty"><img src="{% static '/media/checkmark-circle-outline 1.png' %}" alt=""></div>
                    <h6>{{tutorials}}</h6>
                </div>
            </div>
            <div class="tad">
                <div class="reserveduration">
                    <p>Package Duration</p>
                    <p>Selected Months: {{ months }}</p>
                    <select id="months">
                        <option value="1" {% if months == 1 %}selected{% endif %}>1 Month</option>
                        <option value="8" {% if months == 8 %}selected{% endif %}>8 Months</option>
                        <option value="20" {% if months == 20 %}selected{% endif %}>20 Months</option>
                    </select>
                </div>
            </div>
            <div><span id="pric">Total price: </span><span id="total">$ {{ total }} </span></div>
        </div>
    </div>
</div>

{% endblock %}