{% extends "base.html" %}
{% load static %}

{% block navbar%}

<div class="container">
    {% include "pieces/navbar_white.html" %}
</div>

{% endblock %}


{% block body %}

{% include "pieces/drop_black.html" %}
<div class="container">
    <div class="progdetail">
        <div class="programcontent">
            <div class="contentheader">
                <div class="persontitle">
                    <span id="personal">Personal</span>
                    <span id="training">Training</span>
                </div>
                <p>It’s a long estabilished fact that a reader will be distracted by the readable content</p>
            </div>
            <div class="features">
                <ul>
                    <li>
                        <div class="icon">
                            <i><img src="{% static 'media/fitness-biceps_black.svg' %}"></i>
                        </div>
                        <div class="chdescription">
                            <p id="descriptionnumber">01</p>
                            <p id="descriptioninfo">Power up</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i><img src="{% static 'media/timer.svg' %}"></i>
                        </div>
                        <div class="chdescription">
                            <p id="descriptionnumber">02</p>
                            <p id="descriptioninfo">Be Flexible</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i><img src="{% static 'media/dumbbell.svg' %}"></i>
                        </div>
                        <div class="chdescription">
                            <p id="descriptionnumber">03</p>
                            <p id="descriptioninfo">Super Body Toning</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="video">
                <video id="myvideo">
                    <source src="{% static 'media/no_limits.mp4'%}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div id="playbutton">
                    <i class="fa-solid fa-play"></i>
                </div>
                <div id="pausebutton">
                    <i class="fa-solid fa-pause"></i>
                </div>
            </div>
            <div class="baseabout">
                <h3>What is this class about?</h3>
                <p>Pretium sed tempor vestibulum sit urna. Potenti purus sodales in enim nunc.
                    In et auctor fusce sit donec condimentum. Diam ultrices enim nunc ornare id
                    aliquet sed arcu commodo. Aliquam morbi fermentum amet dui ullamcorper praesent
                    elit. Viverra nam massa cursus leo blandit eget eu. Tempor enim neque metus nunc
                    sodales at eros. Malesuada placerat vestibulum amet sit tempor mi dignissim.
                    Feugiat nullam urna gravida vulputate mi eleifend laoreet.</p>
            </div>
            <div class="contentinfo">
                <h3>Is this the right fitness class for me?</h3>
                <p>Viverra urna imperdiet non malesuada. In massa id tellus natoque augue in et,
                    et. Suspendisse feugiat
                    <span>scelerisque</span>
                    et, viverra urna imperdiet.Vitae interdum quis lacus ut viverra.
                    <br>
                    1. Enim eu turpis egestas pretium aenean pharetra magna ac placerat.
                    <br>
                    2. Nunc semper velit netus donec commodo.
                    <br>
                    3. Lacus hendrerit aliquam habitant eget faucibus venenatis turpis.
                </p>
            </div>
            <div class="text">
                <h3>How can I take a trial class?</h5>
                    <p>Diam ultrices enim nunc ornare id aliquet sed arcu commodo. Aliquam morbi
                        fermentum amet dui ullamcorper praesent elit. Viverra nam massa cursus leo
                        blandit eget eu. Tempor enim neque metus nunc sodales at eros. Malesuada
                        placerat vestibulum amet sit tempor mi dignissim. Feugiat nullam urna gravida
                        vulputate mi eleifend laoreet.
                    </p>
            </div>
        </div>
        <div class="chooseprogram">
            <div class="chooseprogrameheader">
                <h3>Details Program</h3>
                <p>It’s a long estabilished fact that a reader will be distracted by the readable content</p>
            </div>
            <div class="chooseprogramincludes">
                <ul>
                    <li>
                        <div class="programicondiv">
                            <i><img src="{% static 'media/timer.svg' %}" alt=""></i>
                        </div>
                        <div class="programduratiodiv">
                            <div class="durationdivs">
                                <span class="durationkey">Duration:</span>
                                <span class="durationvalue">60 minutes</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="programicondiv">
                            <i><img src="{% static 'media/star.svg' %}" alt=""></i>
                        </div>
                        <div class="programduratiodiv">
                            <div class="durationdivs">
                                <span class="durationkey">Intensity:</span>
                                <span class="durationvalue">High</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="programicondiv">
                            <i><img src="{% static 'media/award.svg' %}" alt=""></i>
                        </div>
                        <div class="programduratiodiv">
                            <div class="durationdivs">
                                <span class="durationkey">Fitness Level:</span>
                                <span class="durationvalue">Intermediate</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="programicondiv">
                            <i><img src="{% static 'media/calendar.svg' %}" alt=""></i>
                        </div>
                        <div class="programduratiodiv">
                            <div class="durationdivs">
                                <span class="durationkey">Schedule:</span>
                                <span class="durationvalue">Monday,Friday</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <form action="" id="bookaclass">
                <div class="programbutton">
                    <button id="bookaclas">Book a class</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}


{% block review %}

{% include "pieces/review.html" %}

{% endblock %}