{% extends "base.html" %}
{% load static %}

{% block navbar%}

<div class="container">
    {% include "pieces/navbar_white.html" %}
</div>

{% endblock %}

{% block body %}

{% include "pieces/drop_black.html" %}
<div class="container">
    <section class="privacy-policy">
        <h1>Privacy Policy</h1>
        <p class="updated-date">Last updated November 28, 2022</p>

        <h2>What information do we collect?</h2>
        <p>Personal information you disclose to us</p>

        <p><strong>In Short:</strong> We collect personal information that you provide to us.</p>
        <p>We collect personal information that you voluntarily provide to us when you register on the Services, express
            an
            interest in obtaining information about us or our products and Services, when you participate in activities
            on
            the Services, or otherwise when you contact us.</p>

        <h3>Personal Information Provided by You</h3>
        <p>The personal information that we collect depends on the context of your interactions with us and the
            Services,
            the choices you make, and the products and features you use. The personal information we collect may include
            the
            following:</p>
        <ul>
            <li>names</li>
            <li>email addresses</li>
            <li>usernames</li>
            <li>passwords</li>
            <li>billing addresses</li>
            <li>phone numbers</li>
        </ul>
        <h3>Sensitive Information</h3>
        <p>We do not process sensitive information.</p>
        <h3>Payment Data</h3>
        <p>We may collect data necessary to process your payment if you make purchases, such as your payment instrument
            number (such as a credit card number), and the security code associated with your payment instrument. All
            payment data is stored by Stripe. You may find their privacy notice link(s) here: <a
                href="#">https://company.com/privacy</a>.</p>
        <h3>Social Media Login Data</h3>
        <p>We may provide you with the option to register with us using your existing social media account details, like
            your Facebook, Twitter, or other social media account. If you choose to register this way, we will collect
            the
            information described in the section called “HOW DO WE HANDLE YOUR SOCIAL LOGINS?” below.</p>

        <p>All personal information that you provide to us must be true, complete, and accurate, and you must notify us
            of
            any changes to such personal information.</p>

        <h3>Information automatically collected</h3>
        <p><strong>In Short:</strong> Some information – such as your Internet Protocol (IP) address and/or browser and
            device characteristics – is collected automatically when you visit our Services.</p>
        <p>We automatically collect certain information when you visit, use, or navigate the Services. This information
            does
            not reveal your specific identity (like your name or contact information) but may include device and usage
            information, such as your IP address, browser and device characteristics, operating system, language
            preferences, referring URLs, device name, country, location, information about how and when you use our
            Services, and other technical information. This information is primarily needed to maintain the security and
            operation of our Services, and for our internal analytics and reporting purposes.</p>
    </section>
</div>
{% endblock %}