.blogdetailheader {
    margin: 5% 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.bdheaderleft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 52%;
}

.blogdetailright {
    width: 45%;
}

.bdheaderleft span {
    color: #1C1C1E;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
}

.bdheaderleft h2 {
    color:#1C1C1E;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0.24px;
}

.bdheaderright ul {
    display: flex;
    width: 190px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    
}

.bdheaderright ul li {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.detailimage {
    width: 100%;
}

.detailimage img {
    width: 80%;
}

.detailframe {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 75%;
}

.span {
    display: flex;
    padding-left: 32px;
    align-items: center;
    gap: 8px;
}

.detailframe p {
    color: #1C1C1E;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.09px;
}

#bold {
    color:#44444C;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1px;
}

#thin {
    color:#8E8E93;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;

}

#end {
    color:#1C1C1E;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.09px;
}

.blogdetailrl {
    display: flex;
    margin: 5% 0;
}


.blogdetailcontentright {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    width: 45%;
}


.blogdetailcontentright h3 {
    color: #09080D;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12px;
}

.blogdetailarticles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;

}

.blogdetailarticle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-bottom: 1px solid #E9EBED;
}

.blogdetailarticle p {
    color:  #1C1C1E;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
}

.blogdetailarticle h2 {
    color: #09080D;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12px;
}

.blogarticledate {
    color: #5E5D65;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.07px;
}

.blogdetailcategories {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.blogdetailcategories h3 {
    color: #09080D;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12px;
}

.blogdetailcategories ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.blogdetailcategories ul li {
    display: flex;
    width: 321px;
    justify-content: space-between;
    align-items: center;
}