.window {
    width: 70%;
    display: flex;
    gap: 24px;
}

.come {
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;

}

.comehead {
    display: flex;
    gap: 10px;
}

.comehead h1,
.comehead span {
    color: #1C1C1E;
    font-size: 72px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0.36px;


}

#comemeet {
    color: #1C1C1E;
    font-size: 72px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0.36px;
}


#comheadh6 {
    width: 70%;
    color: #636366;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.mistake {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 50px;
}

.mistake form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 48px;
}

.input-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.input-row label {
    color: #AEAEB2;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.input-group {
    display: flex;
    height: 52px;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px #E9EBED;
    background: #FFF;
}


.input-group input {
    display: flex;
    width: 100%;
    align-items: flex-start;
    border-radius: 32px;
    background-color: #FFF;
    padding: 16px 32px;
    border: 1px solid #E9EBED;
}

.input-group2 {
    display: flex;
    height: 150px;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px #E9EBED;
    background: #FFF;
}



.mistake button {
    padding: 16px 40px;
    border-radius: 24px;
    background: #BCFF5E;

}

.mistake button h5 {
    color: #1C1C1E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-evenly;
    align-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.window form {
    width: 100%;
}

.input-group2 input {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.via {
    display: flex;
    width: 30%;
    min-width: 350px;
    height: 380px;
    flex-direction: column;
    gap: 32px;
    border-radius: 20px;
    background: #FFF;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.contactinfoheader {
    color: #1C1C1E;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.09px;
}

.contactinfocontent {

    color: #636366;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.contactcontent {
    display: flex;
    width: 307px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.fromtel,
.frommail,
.fromaddress {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.telleft,
.frommailleft,
.fromaddressleft {
    width: 247px;
    color: #09080D;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.telright,
.frommailright,
.fromaddressright {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #BDC7F4;
}

.telrighttel {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#sendmessagebutton {
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #BCFF5E;
    border: none;
    margin-bottom: 100px;
}