@media only screen and (min-width:770px) and (max-width:992px) {

    #homemenudiv,
    #othermenudiv,
    .right {
        display: none;
    }

    .card {
        width: 46%;
        justify-content: space-around;
    }

    .trainersheadercontent {
        width: 400px !important
    }

    #comespanmeet {
        font-size: 48px;
    }

    #comespanteam {
        font-size: 48px;
    }

    .topiccards h3 {
        font-size: 1.5rem;
    }

    .titledescription {
        width: 100%;
        padding: 0 200px;
    }

    .newsleft {
        width: 100%;
    }

    #bars {
        display: block;
        color: white;
        margin-right: 10%;
        font-size: 1.5rem;
    }

    #barsblack {
        display: block;
        color: black;
        margin-left: 2%;
        font-size: 1.5rem;
    }

    .heading p {
        font-size: 1.5rem;
        line-height: 1.6rem;
        letter-spacing: 0.1px;
    }

    .newsright {
        width: 80%;
        padding-left: 1%;
        gap: 36px;
    }

    #othermenu {
        padding-left: 3%;
        width: 50%;
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .maincontent {
        flex-wrap: wrap;
        gap: 10vh;
    }

    .mail {
        width: 100%;
        padding: auto;
        margin: 0;
    }

    .form {
        width: 100%;
    }

    .programs {
        width: 100%;
        z-index: 2;
        margin-top: 10px;
        flex-wrap: wrap;
        gap: 50px;
    }

    .selections {
        width: 65%;
        flex-wrap: wrap;
        max-width: 873px;
    }

    .selection {
        width: 100%;
        padding: 24px;
        align-items: flex-start;
        gap: 0.5em;
    }

    #selection1 {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.5em;
        background: #BCFF5E;
    }

    .aboutpagebodyrow {
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aboutmain {
        padding-top: 50px;
    }

    .aboutpagebodyrowleft,
    .aboutpagebodyrowright,
    .responsivetext {
        width: 100%;
        align-items: center;
        gap: 30px;
    }

    .aboutpagebodyrowleft p,
    .aboutpagebodyrowleft h3,
    .aboutpagebodyrowleft i,
    .responsivetext p,
    .responsivetext h3,
    .responsivetext i {
        width: 60%;
        justify-content: flex-start;
    }

    .aboutmainleft h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .pageheader {
        width: 60%;
        text-align: center;
    }

    #normal {
        display: none;
    }

    .responsivetext {
        display: contents;
    }

    .blogdetailrl {
        flex-wrap: wrap;
    }

    .bdheaderleft h2 {
        color: #1C1C1E;
        font-size: 32px;
    }

    .blogdetailheader {
        flex-wrap: wrap;
    }

    .bdheaderleft,
    .bdheaderright {
        width: 80%;
    }


    .titleanddescription {
        width: 280px;
        gap: 12px;
    }

    .titleanddescription h5 {
        font-size: 40px;
        line-height: 44px;
    }

    .titleanddescription p {
        font-size: 14px;
        line-height: 18px;
    }

    .jobs {
        margin-top: 50px;
        flex-wrap: wrap;
        border-radius: 20px;

    }

    .cardlist {
        width: 60%;
        padding: 28px 34px;
        gap: 30px;
    }

    .logoandtitle {
        gap: 10px;
    }

    .jobicon {
        width: 38px;
        height: 38px;
    }

    .jobtitle h6 {
        font-size: 20px;
        line-height: 28px;
    }


    .cardcontent p {
        font-size: 12px;
        line-height: 18px;
    }


    .all {
        width: 90%;
        gap: 38px;
    }

    .comeon {
        gap: 12px;
    }

    .comeon h1 {
        font-size: 56px;
        line-height: 64px;

    }

    .lets {
        font-size: 56px;
        line-height: 64px;
    }

    .comeon h6 {
        font-size: 12px;
        line-height: 16px;
    }

    .down h6,
    .in h6 {
        font-size: 14px;
        line-height: 18px;
    }

    .toswrite {
        gap: 12px;
        margin-bottom: 90px;
    }

    .on h6 {
        font-size: 28px;
        line-height: 34px;
    }

    .in {
        font-size: 14px;
        line-height: 16px;
    }

    .progdetail {
        flex-wrap: wrap;
    }

    .persontitle span {
        font-size: 48px;
    }

    .icon i img {
        width: 36px;
        height: 36px;
    }

    .features ul li {
        gap: 2px;
    }

    #descriptionnumber {
        font-size: 13px;
    }

    #descriptioninfo {
        font-size: 13px;
    }

    .baseabout,
    .contentinfo,
    .text {
        gap: 14px;

    }

    .baseabout,
    .contentinfo,
    .text h3 {
        font-size: 20px;
        line-height: 28px;

    }

    .baseabout,
    .contentinfo,
    .text p {
        font-size: 14px;
        line-height: 20px;
    }

    .comehead {

        flex-wrap: wrap;
    }

    .mistake {
        flex-wrap: wrap;
        margin: 0;
    }

    .via {
        width: 60%;
    }

    .comehead h1,
    .comehead span {
        font-size: 48px;
    }

    #sendmessgebutton {
        width: 25%;
        margin: 0 auto;
    }
    .window form{
        width: 80%;
    }
}


@media only screen and (max-width:770px) {

    /*-----------------------------------------------Home.CSS-----------------------------------------------------*/

    #homemenudiv,
    #othermenudiv,
    .right {
        display: none;
    }

    .newsleft {
        width: 100%;
    }

    .homeaccount,
    .otheraccount {
        gap: 5px;
    }

    nav {
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 15px;
    }

    .drop i {
        padding-left: 20px;
    }

    .heading p {
        font-size: 1.5rem;
        line-height: 1.6rem;
        letter-spacing: 0.1px;
    }

    .newsright {
        width: 80%;
        padding-left: 1%;
        gap: 36px;
    }

    #bars {
        display: block;
        color: white;
        margin-left: 10%;
        font-size: 1.5rem;
    }

    #barsblack {
        display: block;
        color: black;
        margin-left: 10%;
        font-size: 1.5rem;
    }

    .member {
        background: #F9F9FB;
    }

    #login {
        cursor: pointer;
        padding: 12px 16px;
    }

    #signup {
        padding: 12px 16px;
    }
    #signupmailform{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .head {
        width: 100%;
        display: flex;
    }

    .left {
        width: 80%;
        margin: 0 auto;
    }

    .left h1 {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 0.36px;
        text-align: center;
        margin: 0 auto;
    }

    .left p {
        text-align: center;
        margin: 20px auto;
    }

    .left button {
        margin-left: 30%;
    }

    .logos {
        margin-top: 70px;
    }

    .logos p {
        margin: auto;
    }

    .logos ul {
        margin: 30px;
        flex-wrap: wrap;
        gap: 32px;
        opacity: 0.64;
    }

    .logos ul li {
        display: flex;
        width: 40%;
        align-items: center;
    }

    .programs {
        width: 100%;
        z-index: 2;
        margin-top: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 50px;
    }

    .selections {
        width: 65%;
        flex-wrap: wrap;
        max-width: 873px;
    }

    .selection {
        width: 100%;
        padding: 24px;
        align-items: flex-start;
        gap: 0.5em;
    }

    #selection1 {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
        background: #BCFF5E;
    }

    .option img {
        width: 25px;
        height: 25px;
        transition: 200ms;
    }

    .titledescription {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1em;
        padding-bottom: 1em;
    }

    .titledescription h3 {
        width: 80%;
    }

    .titledescription p {
        width: 80%;
    }


    .image {
        width: 90%;
        height: 50vh;
        border-radius: 20px;
        background: url("/static/media/workout1.png") lightgray 50% / cover no-repeat;
        margin: 0;
    }

    .image1 {
        width: 90%;
        height: 50vh;
        border-radius: 20px;
        margin: 0;
        background: url("/static/media/workout2.png") lightgray 50% / cover no-repeat;
    }

    .workout {
        width: 100%;
        flex-wrap: wrap;
        gap: 1em;
    }


    .title h2 {
        width: 100%;
        margin: 0 auto;
    }

    .descript h3 {
        padding: 30px;
        margin: 0 auto;
        width: 70%;
    }

    .description ul li p,
    .description1 ul li p {
        width: 80%;
    }

    .description ul,
    .description1 ul {
        width: 90%;
    }

    .description {
        width: 100%;
        justify-content: center;
        gap: 1.5em;
    }

    .description1 {
        width: 100%;
        justify-content: center;
    }



    #joinnow {
        margin: 0;
    }

    .membershipzone {
        width: 100%;
        padding-top: 5vh;
    }

    .membershipdetail {
        flex-wrap: wrap;
    }

    .membership {
        width: 100%;
        height: auto;
    }

    .membertitle {
        width: 80%;
    }

    .membertitle h2 {
        width: 100%;
    }

    .plans {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .plan {
        width: 80%;
        padding: 40px;
        gap: 20px;
        border-radius: 24px;
        background: #FFF;
    }

    #purchase {
        width: 70%;
        padding: 12px 16px;
        border-radius: 20px;
        background: #BCFF5E;
    }

    .plan2 {
        width: 80%;
    }

    .plan ul li,
    .plan2 ul li {
        display: flex;
        gap: 10px;
    }

    .content h6 {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .content {
        position: relative;
    }

    .content p {
        text-align: left;
        width: 80%;
    }

    .review {
        width: 100%;
        flex-wrap: wrap;
        background: #F9F9FB;
        gap: 40px;
    }

    .reviewcard {
        padding-left: 10%;
    }

    .reviewcardcontent h6 {
        font-size: 1.5rem;
    }

    .getstarted {
        width: 100%;
        padding: 0;
    }

    .start {
        width: 100%;
        flex-wrap: wrap;
    }

    .desc {
        width: 100%;
        max-width: 768px;
    }

    .desc h3 {
        margin-top: 30px;
        margin: 5vh 10%;
        color: #FFF;
        font-size: 2rem;
        font-weight: 500;
        line-height: 3rem;
        letter-spacing: 0.24px;
    }

    .desc p {
        margin-top: 30px;
        color: #FFF;
        width: 70%;
        padding-top: 5vh;
        padding-left: 10%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2rem;
        letter-spacing: 0.08px;
        opacity: 0.64;
    }

    .submit {
        width: 100%;
        align-items: flex-start;
    }

    .submit button {
        margin: 5vh 10%;
        padding: 12px;
    }

    .mainfooter {
        width: 100%;
        background: #08172D;
    }

    .maincontent {
        padding: 5% 0;
        width: 100%;
        flex-wrap: wrap;
    }

    .info {
        width: 35%;
    }

    .infocontent {
        width: 50%;
    }

    .infocontent p {
        width: 100%;
    }

    .symbol {
        width: 100%;
        flex-wrap: nowrap;
        align-items: flex-start;
        flex-direction: row;
        gap: 30px;
    }

    .menus {
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 50px;
        margin: 10vh auto;
    }

    #row1,
    #row2 {
        width: 50%;
        justify-content: center;
        gap: 25px;
    }

    .mail {
        width: 100%;
        padding-top: 5vh;
        padding-left: 10%;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .mail input {
        width: 50%;
        padding: 10px;
        gap: 8px;
        border-radius: 32px;
        background: rgba(255, 255, 255, 0.12);
    }

    .social {
        width: 100%;
        height: auto;
        margin: 0;
        flex-wrap: wrap;
        gap: 50px;
    }

    .social ul {
        width: 100%;
        height: auto;
        align-items: flex-start;
        gap: 10px;
    }

    .social ul li {
        display: flex;
        width: 50px;
        height: 50px;
        padding: 15px;
    }

    .quota {
        position: absolute;
        left: 1%;
        top: 10%;
        width: 40px;
        height: auto;
    }


    /*---------------------------------------- Membership.CSS-----------------------------------------------------*/

    #membernav {
        width: 100%;
        padding: 15px 0px;
        justify-content: flex-start;
        gap: 80px;

    }


    #barsblack {
        display: block;
        width: 30px;
        height: 30px;

    }

    .overview {
        margin-bottom: 5vh;
        margin: 5%;
        width: 85%;
        flex-direction: column;
        align-items: flex-start;
    }

    .overview ul {
        width: 100%;
    }

    .overviewinfo {
        width: 50%;
        padding: 16px 12px;
        gap: 4px;
    }

    .overviewcontent {
        width: 50%;
        align-items: flex-start;
        gap: 32px;
    }

    .overviewcontent i,
    .overviewcontent p {
        width: 70%;
        height: 5vh;
        margin: 0;
        padding: 16px 12px;
        gap: 4px;
    }

    .overview ul li {
        width: 100%;
    }

    .overviewcontent p {
        color: #1C1C1E;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.09px;
    }

    .overviewinfo p {
        color: #1C1C1E;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.09px;
    }

    .overview>p {
        width: 100%;
        margin-bottom: 5vh;
        color: #064BB4;
    }

    /*---------------------------------------- Membershipdetail.CSS-----------------------------------------------------*/

    .membershipdetail {
        flex-wrap: wrap;
    }

    .reserve {
        margin: 50px 0;
    }

    #pad {
        margin: 30px auto;

    }

    /*---------------------------------------- Blog.CSS-----------------------------------------------------*/

    .topiccards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .topiccards h3 {
        font-size: 1rem;
        width: 100%;
    }

    .card {
        width: 96%;
    }

    .heading h2 {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 0.24px;
    }

    .maincontent {
        flex-wrap: wrap;
        gap: 10vh;
    }

    .mail {
        width: 100%;
        padding: auto;
        margin: 0;
    }

    .form {
        width: 100%;
    }

    #all {
        padding: 8px 35px;
    }

    /*---------------------------------------- About.CSS-----------------------------------------------------*/

    .aboutrelative {
        display: none;
    }

    .aboutmain {
        flex-wrap: wrap;
    }

    .aboutmainleft,
    .aboutmainright {
        width: 100%;
    }

    .aboutmainleft h2 {
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .aboutmainright {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pageheader {
        width: 60%;
        text-align: center;
    }

    #normal {
        display: none;
    }

    .responsivetext {
        display: contents;
    }

    .aboutpagebodyrow {
        flex-wrap: wrap;
        justify-content: center;
    }

    .aboutpagebodyrowleft,
    .aboutpagebodyrowright,
    .responsivetext {
        width: 100%;
        align-items: center;
        gap: 30px;
    }

    .aboutpagebodyrowleft p,
    .aboutpagebodyrowleft h3,
    .aboutpagebodyrowleft i,
    .responsivetext p,
    .responsivetext h3,
    .responsivetext i {
        width: 60%;
        justify-content: flex-start;
    }

    .aboutmainleft h2,
    .responsivetext h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .pageheader {
        width: 60%;
        text-align: center;
    }

    /*---------------------------------------- Blogdetail.CSS-----------------------------------------------------*/

    .blogdetailrl {
        flex-wrap: wrap;
    }

    .bdheaderleft h2 {
        color: #1C1C1E;
        font-size: 32px;
    }

    .blogdetailheader {
        flex-wrap: wrap;
    }

    .bdheaderleft,
    .bdheaderright {
        width: 80%;
    }

    .blogdetailrl {
        flex-wrap: wrap;
    }

    .bdheaderright {
        margin-left: 100px;
    }

    /*---------------------------------------- Overlays.CSS-----------------------------------------------------*/

    .signupmain {
        margin-top: 20px;
    }

    .signupcontainer {
        padding: 10px;
        gap: 12px;
        width: 350px;
        height: 600px;
    }

    .close {
        padding: 6px;
        border-radius: 24px;

    }

    .signupicon {
        padding-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #work {
        color: #1C1C1E;
        font-size: 18px;
        line-height: 24px;
    }

    #out {
        color: #1C1C1E;
        font-size: 18px;
        line-height: 24px;
    }

    #withgoogle {
        width: 50%;
        padding: 6px 25px;
    }

    #withapple {
        width: 50%;
        padding: 6px 25px;
    }

    .orsignup hr {
        width: 68px;
    }

    .orsignup span {
        font-size: 11px;
        line-height: 12px;
    }

    .signupform p {
        font-size: 16px;
        padding: 10px;
    }

    #mailarea ,
    #passwordarea,
    #usernamearea,
    #passwordrepeatarea
    {
        width: 320px;
        margin: 0 auto;
    }
    .signuplabel{
        margin-left: 30px;
    }

    #signupcontinue {
        width: 160px;
    }

    .terms span,
    .reguestlogin span {
        font-size: 12px;
        line-height: 16px;
    }

    .terms {
        width: 300px;
    }

    .terms a,
    .reguestlogin a {
        font-size: 12px;
        line-height: 16px;
    }

    .signinmain {
        width: 350px;
        height: 550px;
    }

    .signinheader h2 {
        width: 250px;
        font-size: 24px;
        line-height: 28px;
    }

    .signincontent {
        padding: 22px;
    }

    .mailzone label,
    .passwordzone label {
        font-size: 14px;
        padding-left: 10px;
        line-height: 20px;
    }

    .mailzone input,
    .passwordzone input {
        width: 330px;
        margin-bottom: 20px;
    }

    .signinform button {
        margin: 0 auto;
        width: 320px;
        padding: 14px;
        border-radius: 22px;
        font-size: 16px;
        line-height: 22px;
    }

    .forgotmain,
    .forgotVerify {
        padding: 40px;
        width: 350px;
        height: 450px;
        gap: 24px;
    }

    .forgotcontent {
        width: 330px;
        gap: 36px;
    }

    .forgotform {
        width: 330px;
    }

    .forgotheader {
        gap: 10px;
    }

    .forgotheader h2 {
        font-size: 24px;
        line-height: 28px;
    }

    .forgotheader p {
        font-size: 12px;
        line-height: 18px;
    }

    #forgotcontinue {
        width: 330px;
        padding: 14px;
        border-radius: 20px;
    }

    #forgotmailarea {
        width: 330px;
        border: none;
    }

    #forgotnext {
        display: flex;
        width: 320px;
    }

    #forgotVerifyNext {
        display: flex;
        width: 320px;
        margin: auto;
        padding: 12px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: #BCFF5E;
        border: none
    }

    .verifypass {
        gap: 5px;
        width: 270px;
    }

    .characterverify input {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        margin: 0 auto;
        padding: 0;
    }

    .forgotVerifyheader h2 {
        padding-bottom: 20px;
        font-size: 24px;
        line-height: 30px;
    }

    .forgotVerifyheader p {
        padding-bottom: 20px;
        font-size: 12px;
    }

    #passeye {
        top: 155px;
        right: 30px;
    }

    #newpasseye {
        top: 265px;
        right: 30px;
    }

    #NewPasswordNext {
        margin-bottom: 15px;
    }

    .forgotVerifyheader h2 {
        font-size: 24px;
        margin: 0;
        padding: 0;
    }


    .security {
        width: 320px;
        padding: 30px;
        gap: 26px;
        border-radius: 18px;

    }

    .securitycontent {
        display: flex;
        width: 270px;
        gap: 20px;
    }

    .securityform {
        width: 270px;
    }

    .securitypass {
        gap: 10px;
    
    }

    .characterverify {
        width: 40px;
        height: 40px;
        border-radius: 15px;
    }


    #securityContinue {
        margin: 40px auto 0;
        width: 250px;
        padding: 16px;
        border-radius: 16px;

    }

    .securityheader h2 {
        font-size: 18px;
        font-weight: 300px;
        line-height: 20px;
        letter-spacing: 0.16px;
    }

    .securityheader p {
        width: 100%;
    }

    .confirm {
        width: 350px;
        padding: 42px;
        gap: 20px;
        border-radius: 18px;

    }

    .confirmContent {
        width: 300px;
        gap: 42px;
    }

    .confirmheader {
        gap: 10px;
    }

    .confirmheader h2 {
        width: 280px;
        font-size: 24px;
        line-height: 32px;
    }

    .confirmheader p {
        width: 300px;
        font-size: 12px;
        line-height: 22px;
    }

    .confirmzone {
        margin-left: 20px;
        width: 280px;
        gap: 28px;
    }


    .confirmzone label {
        margin-left: 30px;
        color: #8E8E93;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.09px;
    }

    .confirmzone input {
        width: 20px;
        height: 20px;
    }

    #confirmContinue {
        margin-top: 30px;
        width: 300px;
        padding: 12px;
        border-radius: 18px;
        font-size: 14px;
        line-height: 20px;
    }

    .come {
        gap: 12px;
        margin-top: 60px;
    }

    .trainersheadercontent {
        width: 280px !important
    }

    #comespanmeet {
        font-size: 48px !important
    }

    #comespanteam {
        font-size: 48px !important
    }


    .titleanddescription {
        width: 280px;
        gap: 12px;
    }

    .titleanddescription h5 {
        font-size: 40px;
        line-height: 44px;
    }

    .titleanddescription p {
        font-size: 14px;
        line-height: 18px;
    }

    .jobs {
        margin-top: 50px;
        flex-wrap: wrap;
        border-radius: 20px;

    }

    .cardlist {
        width: 90%;
        padding: 28px 34px;
        gap: 30px;
    }

    .logoandtitle {
        gap: 10px;
    }

    .jobicon {
        width: 38px;
        height: 38px;
    }

    .jobtitle h6 {
        font-size: 20px;
        line-height: 28px;
    }


    .cardcontent p {
        font-size: 12px;
        line-height: 18px;
    }

    .all {
        width: 90%;
        gap: 38px;
    }

    .comeon {
        gap: 12px;
    }

    .comeon h1 {
        font-size: 56px;
        line-height: 64px;

    }

    .lets {
        font-size: 56px;
        line-height: 64px;
    }

    .comeon h6 {
        font-size: 12px;
        line-height: 16px;
    }

    .down h6,
    .in h6 {
        font-size: 14px;
        line-height: 18px;
    }

    .toswrite {
        gap: 12px;
        margin-bottom: 90px;
    }

    .on h6 {
        font-size: 28px;
        line-height: 34px;
    }

    .in {
        font-size: 14px;
        line-height: 16px;
    }

    .progdetail {
        flex-wrap: wrap;
    }

    .persontitle span {
        font-size: 36px;
    }

    .icon i img {
        width: 32px;
        height: 32px;
    }

    .features ul li {
        gap: 2px;
    }

    #descriptionnumber {
        font-size: 11px;
    }

    #descriptioninfo {
        font-size: 11px;
    }

    .baseabout,
    .contentinfo,
    .text {
        gap: 12px;
    }

    .baseabout,
    .contentinfo,
    .text h3 {
        font-size: 16px;
        line-height: 20px;
    }

    .baseabout,
    .contentinfo,
    .text p {
        font-size: 12px;
        line-height: 16px;
    }

    .comehead {

        flex-wrap: wrap;
    }

    .mistake {
        flex-wrap: wrap;
        margin: 0;
    }

    .window {
        width: 90%;
        margin-top: 50px;
    }

    .comehead h1,
    .comehead span {
        font-size: 48px;
    }

    .via {
        width: 60%;
    }

    #sendmessgebutton {
        width: 25%;
        margin: 0 auto;
    }

}